name: supabase-backup

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # 每天北京时间早上 8 点运行

env:
  BACKUP_ENABLED: true

jobs:
  run_db_backup:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      # ⚠️ 重要：Secret 中的 URL 用户名必须是 postgres.bobomkjgisjtibbsfptv
      SUPABASE_DB_URL: ${{ secrets.SUPABASE_DB_URL }}
      BACKUP_ENABLED: ${{ vars.BACKUP_ENABLED }} 
    steps:
      - name: Check if backups are enabled
        run: |
          if [ "$BACKUP_ENABLED" != "true" ]; then
            echo "Backups are disabled. Exiting workflow."
            exit 0
          fi

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Supabase CLI
        uses: supabase/setup-cli@v1
        with:
          version: latest

      - name: Create backup folder
        run: mkdir -p supabase/backups

      - name: Backup roles
        run: supabase db dump --db-url "$SUPABASE_DB_URL" -f supabase/backups/roles.sql --role-only

      - name: Backup schema
        run: supabase db dump --db-url "$SUPABASE_DB_URL" -f supabase/backups/schema.sql

      - name: Backup data
        # 使用 --use-copy 提高大数据量下的备份速度
        run: supabase db dump --db-url "$SUPABASE_DB_URL" -f supabase/backups/data.sql --data-only --use-copy

      - name: Commit and Push backups
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "chore: automated supabase backup [skip ci]"
          file_pattern: 'supabase/backups/*.sql'
